<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAC Propiedades</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="/images/iconos/thm3.jpg" alt=""></label>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/alquiler.html">Alquiler</a></li>
                <li><a href="../views/venta.html">Ventas</a></li>
                <li><a href="../views/tasaciones.html">Tasaciones</a></li>
                <li><a href="../views/preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>   
    </header>
    <main class="contenedor">
        <div>
            <span>
                <h2 id="titulo-principal">Alquiler</h2>
                <div class="linea"></div><br>
            </span>
            <div class="caja-ventas-alquilar">
                <div class="card foto ">
                    <img src="../images/imagen-1-1.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Depto en alquiler en San Isidro.</b></h4>
                        <p>Calle Jose Aristobalo del valle 247 <br>$37000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-2.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Local en alquiler en Villa Crespo. </b></h4>
                        <p>Calle Malabia 600. <br>$18000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-3.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Local en alquiler en Once.</b></h4>
                        <p>Calle Av. Hipolito Yrigoyen 2500. <br>$130000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-4.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Depto en alquiler en Vicente Lopez.</b></h4>
                        <p>Calle Av. Libertador 1200.  <br>$55000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-5.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Depto en alquiler en Barrio Norte.</b></h4>
                        <p>Calle French 2700. <br>$16000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-6.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Depto en alquiler en Almagro.</b></h4>
                        <p>Calle Lambare 900. <br>$13900</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-7.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Depto en alquiler en Monserrat.</b></h4>
                        <p>Calle Av. Belgrano 400. <br>$34000</p>
                    </div>
                </div>
                <div class="card foto ">
                    <img src="../images/imagen-1-8.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Oficina en alquiler en Belgrano.</b></h4>
                        <p>Calle Sucre 1500.   <br>USD 2700</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">DAC Propiedades &copy; 2020</p>
            <div class="redes-sociales">
                <img src="../images/iconos/facebook.png">
                <img src="../images/iconos/twitter.png">
                <img src="../images/iconos/instagram.png">
            </div>
        </div>
    </footer>
</body>
</html>