<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAC Propiedades</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="/images/iconos/thm3.jpg" alt=""></label>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/alquiler.html">Alquiler</a></li>
                <li><a href="../views/venta.html">Ventas</a></li>
                <li><a href="../views/tasaciones.html">Tasaciones</a></li>
                <li><a href="../views/preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>   
    </header>
    <main class="contenedor">
        <div>
            <section>
                <h3>SERVICIO AL CLIENTE</h3>
                <h2 id="titulo-principal">Preguntas Frecuentes</h2>
                <div class="linea"></div>
            </section><br>
            <section id="caja-pf">
                <h4>¿Cuál es nuestro horario de atención?</h4>
                <p>Lunes a Viernes de 9:00 a 18:00 y Sábados de 10:00 a 13:00</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Qué servicios ofrecemos?</h4>
                <p>Asesoramiento personalizado. Si nosotros no contamos con la propiedad, nos ocupamos de buscar la propiedad ideal para vos. Nos especializamos en la comercialización de propiedades comerciales, residenciales y emprendimientos. Tasaciones realizadas por profesionales.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Cuál es nuestra zona de influencia?</h4>
                <p>Estamos presentes en el Gran Buenos Aires, especialmente en la Ciudad de Buenos Aires.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Cómo inicio la venta de mi inmueble?</h4>
                <p>Una vez en contacto con nosotros; Un tasador le explicará qué documentación necesitamos para corroborar los datos de la propiedad; a continuación, concretarán una visita a la propiedad; para hacer un conocimiento visual. Una vez tasado el inmueble y con su autorización, nos encargamos nosotros.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Qué documentación necesito para Vender o Alquilar mi propiedad?</h4>
                <p>Para iniciar cualquier proceso de comercialización, requiere presentar:</p>
                <ul>
                    <li>Copia de escrituras del inmueble.</li>
                    <li>Copia de ARBA/ABL.</li>
                    <li>Fotocopia de servicios del inmueble.</li>
                    <li>DNI del propietario.</li>
                    <li>Plano de la propiedad.</li>
                    <li>Reglamento de Co-propiedad.</li>
                    <li>Última liquidación de expensas.</li>
                </ul>
                <div class="lineaSecundaria"></div>
                <h4>¿Cómo promocionamos tu vivienda?</h4>
                <ul>
                    <li>A través de nuestro sitio web.</li>
                    <li>Destacamos propiedades en las principales plataformas de inmuebles.</li>
                    <li>Generamos mailings semanales para comunicar las propiedades destacadas.</li>
                    <li>Presencia y promocion en las redes sociales.</li>
                </ul>
                <div class="lineaSecundaria"></div>
                <h4>¿Quién designa al escribano al comprar un inmueble?</h4>
                <p>En general, el escribano lo designa el comprador al momento de celebrarse el Boleto de Compra-Venta. Hay excepciones, si la compra es financiada o mediante hipoteca, en esos casos lo suele designar el acreedor.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Qué es el COTI?</h4>
                <p>Es el “código de oferta de transferencia de inmuebles”. Nosotros lo tramitamos por vos. Este trámite lo hacemos nosotros en la AFIP, y es necesario para poder ofrecer y/o publicar cualquier inmueble a la venta. La única exigencia es que sea un valor igual o superior a $1.500.000.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Qué es el Impuesto de Sellos?</h4>
                <p>El Impuesto de Sellos es un tributo que grava actos jurídicos onerosos instrumentados, dependiendo el tipo de instrumento:
                    Contrato de alquiler residencial (GBA): 0,5%
                    Contrato de alquiler comercial (GBA y CABA): 1,2%
                    Escritura de compra venta: 3,6%
                    La alícuota mencionada debe ser aplicada sobre el valor fiscal ó valor de escrituración y/o sobre el valor inmobiliario de referencia (V.I.R.), el que resulte mayor; en el caso de los contratos de alquiler, la base imponible es la totalidad del contrato IVA incluído.
                    En el caso de las escrituras, se encuentran excentos los inmuebles destinados a vivienda permanente y que constituyen la única propiedad en cabeza de cada uno de los adquirentes, y siempre que el valor de escrituración no sea mayor a los $750.000. Aquellas operaciones que estén excentas pero que superen el monto recientemente señalado, tributarán solo por el excedente.
                    Generalmente el costo del impuesto es soportado y abonado por partes iguales entre comprador y vendedor; o locador y locatario.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Qué es el ITI?</h4>
                <p>El Impuesto a la Transferencia de Inmuebles un impuesto que grava las transferencias ubicadas en el país, y recae sobre las personas físicas y sucesiones indivisas que no realizan como actividad comercial habitual la compra-venta de inmuebles. Se considera transferencia a la venta, permuta, cambio, dación en pago, aporte a sociedades y todo acto de disposición por el que se transmita el dominio a título oneroso. Este impuesto surge de aplicar el 1,5 % sobre el valor de transferencia de cada operación y será retenido por el escribano interviniente o por el comprador, cuando no exista el anterior. El ITI se paga sobre todos los inmuebles que fueron adquiridos previo al 1 de Enero de 2018. Para los casos contrarios, se reemplaza el ITI por el Impuesto a las Ganancias. Todos los inmuebles adquiridos posterior al 1 de Enero de 2018, al momento de la venta, pagan el 15% sobre la diferencia entre el valor de adquisición y el valor de venta.</p>
                <div class="lineaSecundaria"></div>
                <h4>¿Cuándo estoy excento de pagar el ITI?</h4>
                <p>Cuando vendés tu única vivienda o terreno para adquirir o construir (dentro del término de un año) una propiedad destinada a casa-habitación propia, podés solicitar gratuitamente el certificado de no retención del impuesto a la transferencia de inmuebles. Es importante realizar este trámite mediante contador público, con tiempo suficiente y notificar al escribano al inicio del tramite de transmisión.</p>
            </sectiion>
        </div>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">DAC Propiedades &copy; 2020</p>
            <div class="redes-sociales">
                <img src="../images/iconos/facebook.png">
                <img src="../images/iconos/twitter.png">
                <img src="../images/iconos/instagram.png">
            </div>
        </div>
    </footer>
</body>
</html>