<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAC Propiedades</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="/images/iconos/thm3.jpg" alt=""></label>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/alquiler.html">Alquiler</a></li>
                <li><a href="../views/venta.html">Ventas</a></li>
                <li><a href="../views/tasaciones.html">Tasaciones</a></li>
                <li><a href="../views/preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>   
    </header>
    <main class="contenedor">
        <div id="tasa">
            <h2 id="titulo-principal">Tasaciones</h2>
            <div class="linea"></div>
            <p>Complete el siguiente formulario para realizar una tasación por nuestro equipo de profesionales capacitados y con gran experiencia y nos comunicaremos con usted a la brevedad.</p>
            <section id="tasa-caja"> 
                <form action="" id="form-tasa">
                    <h4>Datos del solicitante</h4>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre"><br><br>
                    <label for="telefono">Telefono</label>
                    <input type="tel" id="telefono"><br><br>
                    <label for="mail">Mail</label>
                    <input type="email" id="mail"><br><br>
                    <div class="lineaSecundaria"></div><br>
                    <h4>Datos del Inmueble</h4><br>
                    <select name="propiedad" id="">
                        <option value="casa">Casa</option>
                        <option value="departamento">Departamento</option>
                        <option value="ph">PH</option>
                        <option value="lote">Lote</option>
                        <option value="loteComercial">Lote Comercial</option>
                        <option value="oficina">Oficina</option>
                        <option value="otro">Otro</option>
                    </select>
                    <select name="operacion" id="">
                        <option value="venta">Venta</option>
                        <option value="alquiler">Alquiler</option>
                    </select><br><br>
                    <label for="domicilio">Direccion del domicilio a tasar</label>
                    <input type="text" id="domicilio"><br><br>
                    <label for="localidad">Localidad/Barrio</label>
                    <input type="text" id="localidad"><br><br>
                    <label for="descripcion">Breve descripcion de la propiedad</label><br>
                    <textarea name="" id="descripcion" cols="60" rows="10"></textarea><br><br>
                    <input type="submit">
                    <input type="reset">
                </form>
            </section>
        </div>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">DAC Propiedades &copy; 2020</p>
            <div class="redes-sociales">
                <img src="../images/iconos/facebook.png">
                <img src="../images/iconos/twitter.png">
                <img src="../images/iconos/instagram.png">
            </div>
        </div>
    </footer>
</body>
</html>