<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAC Propiedades</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="/images/iconos/thm3.jpg" alt=""></label>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/alquiler.html">Alquiler</a></li>
                <li><a href="../views/venta.html">Ventas</a></li>
                <li><a href="../views/tasaciones.html">Tasaciones</a></li>
                <li><a href="../views/preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>   
    </header>
    <main class="contenedor">
        <div>
            <span>
                <h2 id="titulo-principal">Venta</h2>
                <div class="linea"></div><br>
            </span>
            <div class="caja-ventas-alquilar">
                <div class="card foto">
                    <img src="../images/imagen-2-1.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Local en venta en Flores.</b></h4>
                        <p>Calle Av. Directorio 3200. <br>USD155000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-2.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b><p>Depto en venta en Palermo. </b></h4>
                        <p>Calle Bondpland 2100. <br>USD154000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-3.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">                        <div class="container">
                        <h4><b>Casa en venta en Almagro.</b></h4>
                        <p>Calle Bulnes 200. <br>USD220000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-4.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Depto en venta en Caballito.</b></h4>
                        <p>Calle Colpayo 300. <br>USD173000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-5.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Depto en venta en Recoleta.</b></h4>
                        <p>Calle Gelly y Obes Gral. Av. 2200. <br>USD770000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-6.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Casa en venta en Tigre. </b></h4>
                        <p>Calle Isal Santa Monica, Lote 60. <br>USD220000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-7.jpg" alt="Avatar" style="width:100%" data-aos="fade-left">
                    <div class="container">
                        <h4><b>Local en venta en Villa Crespo.</b></h4>
                        <p>Calle Julian Alvarez 600. <br>USD299000</p>
                    </div>
                </div>
                <div class="card foto">
                    <img src="../images/imagen-2-8.jpg" alt="Avatar" style="width:100%" data-aos="fade-right">
                    <div class="container">
                        <h4><b>Casa en venta en Parque Avellaneda.</b></h4>
                        <p>Calle Medina 1800. <br>USD310000</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="contenedor">
            <p class="copy">DAC Propiedades &copy; 2020</p>
            <div class="redes-sociales">
                <img src="../images/iconos/facebook.png">
                <img src="../images/iconos/twitter.png">
                <img src="../images/iconos/instagram.png">
            </div>
        </div>
    </footer>
</body>
</html>